<html>
<head>
<title>WebRTC</title>
</head>
<body>
<video id="localStream" width="300" controls></video>
<video id="friendSteam" width="300" controls></video>
<br/> <br/>
<label>My Connection Token</label>
<textarea rows="3" cols="1000" id="txtMySignal"></textarea>
<input type="text" placeholder="Your friend token" id="txtFriend">
<br/><br/>
<button id="btnConnect">Connect</button>
</body>
<script src="bundle.js"></script>
</html>